body{
    background-image: url(stažený\ soubor.jpg);
    background-size: 2000px;
}

.ullist{
    color: darkmagenta;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    outline:20px;
}
.ul2pol{
    list-style-type: square;
    color: fuchsia;
}